// Start Archive Post
.archive_post_item {
	background-color: #ffffff;
	border-radius: 10px;
	padding: 20px 20px 30px;
	//
	margin-bottom: 40px;

	&__image {
		border-radius: 10px;
		background: linear-gradient(180deg, #e04c26 0%, #a81916 100%);
	}

	&__img {
		border-radius: 10px;
		//
		height: 0px;
		padding-bottom: 40%;
		position: relative;
		display: block;
		overflow: hidden;
		margin-bottom: 15px;

		img {
			width: 100%;
			height: 100%;
			position: absolute;
			object-fit: cover;
		}
	}

	&__content {
		margin-bottom: 37px;
	}

	//
	p {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 4; /* Số dòng bạn muốn hiển thị */
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

//
.archive_post_item__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 21px;
}

.archive_post_item .archive_post_item__inner .category {
	background: #ffe7e7;
	border: 1px solid #d98787;
	border-radius: 19px;
	padding: 6px 21px;
	text-align: center;
	//
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	a {
		font-family: "Ubuntu";
		font-size: 16px;
		font-weight: 400;
		line-height: 18.38px;
		text-transform: uppercase;
		color: #c11515;
	}
}

.archive_post_item .archive_post_item__inner .date {
	display: flex;
	align-items: center;
	justify-content: end;
	font-family: "Be Vietnam Pro";
	font-size: 16px;
	font-weight: 400;
	color: #6f6f6f;
	gap: 7px;

	svg {
		width: 20px;
		height: 20px;
	}
}

//
.archive_post_item
	.archive_post_item__content
	.archive_post_item__content-inner {
	margin-bottom: 15px;
}

.archive_post_item .archive_post_item__content .archive_post_item__title {
	font-family: "Be Vietnam Pro";
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	color: #000000;
	margin: 0px;

	&:hover {
		color: #ae1e18;
	}
}

.archive_post_item .archive_post_item__content .archive_post_item__desc {
	font-family: "Be Vietnam Pro";
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	color: #5b5b5b;
}

//
.archive_post_item .archive_post_item__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.archive_post_item .archive_post_item__footer .view-count,
.archive_post_item .archive_post_item__footer .author {
	display: flex;
	align-items: center;
	font-family: "Be Vietnam Pro";
	font-size: 16px;
	font-weight: 400;
	color: #6f6f6f;
	gap: 7px;

	svg {
		width: 24px;
		height: 24px;
		min-width: 24px; // Sửa lỗi kích thước icon bị thu nhỏ
	}
}

.archive_post_item .archive_post_item__footer .view-count {
	justify-content: end;
}

.archive_post_item .count,
.archive_post_item .user-name {
	// flex: 1; /* Chiếm tối đa không gian có thể */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
// End Archive Post

// Start Pagination
.pagination_custom,
.woocommerce-pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	gap: 8px;

	.page-numbers {
		padding: 6px 14px;
		font-weight: 700;
		color: #274185 !important;
		text-decoration: none;
		font-size: 14px;
		background-color: #ffffff;
		border-radius: 4px;
		//
		box-shadow: 0 4px 4px rgba(157, 157, 157, 0.25);

		&.current {
			//
			//background: linear-gradient(180deg, #274185 0%, #373073 100%);
			//
			background: #274185;
			border-radius: 4px;
			color: #ffffff !important;
		}

		&.next,
		&.prev {
			padding: 0;

			&:hover {
				background: transparent;
			}
		}
	}

	&__prev {
		content: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3e%3cpath d='M15 17.5L10.4068 13.3838C9.86439 12.8977 9.86439 12.1023 10.4068 11.6161L15 7.49998' stroke='%23C0C0C0' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
		margin-right: 8px;
	}

	&__next {
		content: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3e%3cpath d='M10 17.5L14.5932 13.3838C15.1356 12.8977 15.1356 12.1023 14.5932 11.6162L10 7.5' stroke='%23C0C0C0' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
		margin-left: 8px;
	}

	.prev,
	.next {
		display: none;
	}
}
// End Pagination

// Start Breadcrumbs
.breadcrumbs {
	position: relative;

	a,
	.current {
		color: #ffffff !important;
		font-size: 18px;
		font-weight: 500;

		&.current {
			color: #ffffff;
		}
	}

	a {
		text-decoration: none;

		&:hover {
			color: #ffffff !important;
			text-decoration: underline;
		}
	}

	.icon {
		padding: 0px 8px;
		margin: 0px 8px;
		position: relative;

		svg {
			position: absolute;
			top: 2px;
			left: 0%;

			path {
				stroke: #ffffff;
			}
		}
	}
}
// End Breadcrumbs

// Start Detail Blog
.related_news {
	padding: 30px 22px 39px 30px;
	border: 1px solid #dedede;
	border-radius: 10px;

	@media (max-width: 1023px) {
		padding: 24px;
	}
	@media (max-width: 767px) {
		padding: 16px;
	}

	.related_news__heading {
		font-family: "Gabarito";
		font-size: 20px;
		font-weight: 600;
		line-height: 24px;
		color: #000000;
		text-transform: uppercase;
		margin-top: 0px;
		margin-bottom: 27px;

		@media (max-width: 1023px) {
			margin-bottom: 24px;
		}
		@media (max-width: 767px) {
			margin-bottom: 16px;
		}
	}

	.related_news_item__inner {
		display: flex;
		flex-direction: column;
		gap: 25px;

		@media (max-width: 1023px) {
			gap: 18px;
		}
		@media (max-width: 767px) {
			gap: 12px;
		}

		.related_news_item {
			// display: flex;
			// gap: 18px;
			&__row {
				--bs-gutter-x: 17px;

				@media (max-width: 1023px) {
					--bs-gutter-x: 12px;
				}
				@media (max-width: 767px) {
					--bs-gutter-x: 8px;
				}
			}

			&__image {
				display: block;
				width: 100%;
			}

			&__img {
				border-radius: 10px;
				//
				height: 0px;
				padding-bottom: 100%;
				position: relative;
				display: block;
				overflow: hidden;

				img {
					width: 100%;
					height: 100%;
					position: absolute;
					object-fit: cover;
				}
			}

			&__date {
				.date {
					display: flex;
					align-items: center;
					gap: 8px;
				}
			}
		}

		.related_news_item
			.related_news_item__content
			.related_news_item__title {
			font-family: "Be Vietnam Pro";
			font-size: 16px;
			font-weight: 600;
			color: #676767;
			margin: 0px;
		}

		.related_news_item
			.related_news_item__content
			.related_news_item__link {
			margin-bottom: 8px;
		}

		.related_news_item
			.related_news_item__content
			.related_news_item__date
			.date {
			font-family: "Be Vietnam Pro";
			font-size: 16px;
			font-weight: 400;
			color: #6f6f6f;

			svg {
				width: 20px;
				height: 20px;
				min-width: 20px;
			}
		}
	}
}

// End Detail Blog

// Start Post Info
.post-info {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	border-radius: 10px;
	gap: 18px;

	.author-name {
		font-family: "Be Vietnam Pro";
		font-size: 16px;
		font-weight: 500;
		color: #6f6f6f;

		&:hover {
			text-decoration: underline;
		}
	}

	.author-info {
		display: flex;
		align-items: center;
		gap: 12px;
	}

	.author-avatar {
		width: 54px;
		height: 54px;
		border-radius: 50%;

		img {
			border-radius: 50%;
			object-fit: cover;
		}
	}

	.post-info__inner {
		align-items: center;

		@media (max-width: 1023px) {
			gap: 16px;
			align-items: start;
			flex-direction: column;
		}
	}

	.post-meta {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 15px;
	}

	.meta-item {
		display: flex;
		align-items: center;
		gap: 7px;

		svg {
			width: 24px;
			height: 24px;
			min-width: 24px;
		}

		span {
			color: #6f6f6f;
			font-family: "Be Vietnam Pro";
			font-size: 16px;
			font-weight: 400;
		}
	}

	.social-links {
		display: flex;
		gap: 7px;

		.social-link {
			display: flex;
			align-items: center;
			justify-content: center;

			svg {
				width: 36px;
				height: 36px;
				min-width: 36px;
			}
		}
	}

	.post-rating {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
		border: 1px solid #e2e2e2;
		border-radius: 31px;
		padding: 8px 20px;

		@media (max-width: 1023px) {
			gap: 8px;
			align-items: start;
			flex-direction: column;
		}

		.rating-text {
			font-family: "Be Vietnam Pro";
			font-size: 16px;
			font-weight: 500;
			color: #6f6f6f;
		}

		.rating-text strong {
			font-family: "Be Vietnam Pro";
			font-size: 16px;
			font-weight: 700;
			color: #000000;
		}

		.rating-stars {
			display: flex;
			gap: 4px;

			svg {
				width: 19px;
				height: 18px;
				min-width: 19px;
			}
		}
	}
}
// End Post Info

// Start Profile Card
.profile-card {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	padding: 34px 24px 26px;
	background-color: #fff0ed;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	border: 1px solid #daa3a3;

	.profile-card__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	.profile-card__info {
		display: flex;
		align-items: center;
		gap: 16px;
	}

	.profile-card__contact {
		display: flex;
		align-items: center;
		gap: 24px;
	}

	.profile-card__avatar {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 72px;
		height: 72px;
		border: 1px dashed #bf2f2e;
		border-radius: 50%;
		padding: 7px;

		img {
			border-radius: 50%;
			object-fit: cover;
		}
	}

	.profile-card__infofull {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 3px;
	}

	.profile-card__name {
		font-family: "Be Vietnam Pro";
		font-size: 20px;
		font-weight: 500;
		color: #000000;
		text-transform: uppercase;
		margin: 0px;
	}

	.profile-card__role {
		font-family: "Be Vietnam Pro";
		font-size: 16px;
		font-weight: 500;
		color: #b94949;
		margin-bottom: 0px;
	}

	.profile-card__social-title {
		font-family: "Be Vietnam Pro";
		font-size: 16px;
		font-weight: 600;
		color: #000000;
	}

	.profile-card__social-links {
		display: flex;
		gap: 7px;
	}

	.profile-card__social-link {
		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			width: 36px;
			height: 36px;
			min-width: 36px;
		}
	}

	.profile-card__quote {
		font-family: "Be Vietnam Pro";
		font-size: 16px;
		font-weight: 400;
		color: #000000;
		margin: 0px;
	}
}
// End Profile Card

// Related Posts
.related_post {
	.related_post__inner {
		margin-bottom: 40px;

		@media (max-width: 1023px) {
			margin-bottom: 35px;
		}

		@media (max-width: 767px) {
			margin-bottom: 30px;
		}
	}

	.related_post__title {
		font-family: "Be Vietnam Pro";
		font-size: 30px;
		font-weight: 600;
		color: #000000;
		text-align: center;
		text-transform: uppercase;
		margin: 0px;

		@media (max-width: 1023px) {
			font-size: 26px;
		}
		@media (max-width: 767px) {
			font-size: 22px;
		}
	}

	.related_blog_item {
		background-color: #fff3f3;
		padding: 20px 32px 20px 20px;
		border-radius: 10px;
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0px;
		}

		@media (max-width: 1023px) {
			padding: 20px;
			margin-bottom: 16px;
		}

		@media (max-width: 767px) {
			padding: 16px;
			margin-bottom: 12px;
		}

		&__row {
			--bs-gutter-x: 21px;

			@media (max-width: 1023px) {
				flex-direction: column;
				gap: 16px;
			}
		}

		&__image {
			display: block;
			width: 100%;
		}

		&__img {
			border-radius: 10px;
			//
			height: 0px;
			padding-bottom: 65.4%;
			position: relative;
			display: block;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				position: absolute;
				object-fit: cover;
			}
		}

		.related_blog_item__inner_title {
			margin-bottom: 13px;

			@media (max-width: 767px) {
				margin-bottom: 8px;
			}
		}

		.related_blog_item__title {
			font-family: "Be Vietnam Pro";
			font-size: 20px;
			font-weight: 600;
			color: #000000;
			margin: 0px;

			@media (max-width: 1023px) {
				font-size: 18px;
			}
			@media (max-width: 767px) {
				font-size: 16px;
			}
		}

		&__date {
			.date {
				display: flex;
				align-items: center;
				gap: 8px;
			}
		}
	}
	// End Related Posts

	.related_blog_item .related_blog_item__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 21px;

		//
		@media (max-width: 1023px) {
			flex-direction: column;
			justify-content: center;
			align-items: start;
			gap: 8px;
			margin-bottom: 16px;
		}

		//
		@media (max-width: 767px) {
			margin-bottom: 12px;
		}
	}

	.related_blog_item .related_blog_item__inner .category {
		border-radius: 19px;
		border: 1px solid #d98787;
		background: #ffe7e7;
		padding: 6px 22px;

		@media (max-width: 767px) {
			padding: 3px 22px;
		}

		a {
			text-transform: uppercase;
			font-family: "Ubuntu";
			font-size: 16px;
			font-weight: 400;
			color: #c11515;

			@media (max-width: 1023px) {
				font-size: 16px;
			}

			@media (max-width: 767px) {
				font-size: 12px;
			}
		}
	}

	.related_blog_item .related_blog_item__inner .date {
		display: flex;
		align-items: center;
		gap: 7px;

		svg {
			width: 20px;
			height: 20px;
			min-width: 20px;
		}

		span {
			font-family: "Be Vietnam Pro";
			font-size: 16px;
			font-weight: 400;
			color: #6f6f6f;

			@media (max-width: 1023px) {
				font-size: 14px;
			}

			@media (max-width: 767px) {
				font-size: 12px;
			}
		}
	}

	.related_blog_item .related_blog_item__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;

		//
		@media (max-width: 1023px) {
			flex-direction: column;
			justify-content: center;
			align-items: start;
			gap: 8px;
		}
	}

	.related_blog_item .related_blog_item__footer .view-count,
	.related_blog_item .related_blog_item__footer .author {
		display: flex;
		align-items: center;
		font-family: "Be Vietnam Pro";
		font-size: 16px;
		font-weight: 400;
		color: #6f6f6f;
		gap: 7px;

		@media (max-width: 1023px) {
			font-size: 14px;
		}

		@media (max-width: 767px) {
			font-size: 12px;
		}

		svg {
			width: 24px;
			height: 24px;
			min-width: 24px; // Sửa lỗi kích thước icon bị thu nhỏ

			@media (max-width: 1023px) {
				width: 20px;
				height: 20px;
				min-width: 20px;
			}
		}
	}

	.related_blog_item .related_blog_item__footer .view-count {
		justify-content: end;

		@media (max-width: 1023px) {
			justify-content: start;
		}
	}

	.related_blog_item .count,
	.related_blog_item .user-name {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	// End Related Posts
}

// ---------- line ------------
@mixin line-clamp($lines) {
	-webkit-line-clamp: $lines;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

.line-1 {
	@include line-clamp(1);
}

.line-2 {
	@include line-clamp(2);
}

.line-3 {
	@include line-clamp(3);
}

// Start Comment
#comments {
	.comment-list {
		.comment-body {
			border: none !important;
		}
	}
}

// Start Post Author Card
.post_author_card {
	border-radius: 20px;
	background-color: aqua;

	.post_author_card__image {
		position: relative;
		height: 0px;
		padding-bottom: 66.7%;
		display: block;
		overflow: hidden;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;

		img {
			width: 100%;
			height: 100%;
			position: absolute;
			object-fit: cover;
		}
	}

	.post_author_card__content {
		padding: 30px 40px 40px 30px;

		.post_author_card__link {
			margin-bottom: 11px;
		}

		.post_author_card__title {
			font-family: "Be Vietnam Pro";
			font-size: 20px;
			font-weight: 600;
			margin: 0px;
		}

		.post_author_card__meta {
			display: flex;
			flex-direction: column;
			gap: 11px;

			.post_author_card__author,
			.post_author_card__date {
				display: flex;
				align-items: center;
				gap: 7px;

				span {
					font-family: "Be Vietnam Pro";
					font-size: 16px;
					font-weight: 500;
					color: #6f6f6f;
				}
			}

			.post_author_card__author {
				svg {
					width: 24px;
					height: 24px;
					min-width: 24px;
				}
			}

			.post_author_card__date {
				svg {
					width: 24px;
					height: 24px;
					min-width: 24px;
				}
			}
		}
	}
}
// End Post Author Card
